<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link href="../static/css/bootstrap.min.css" type="text/css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <link href="../static/css/common.css" type="text/css"  rel="stylesheet"/>
    <link href="../static/css/add.css" type="text/css"  rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 header-logo-position">
                    <img src="../static/img/logo.png" alt="header_logo" class="header-logo">
                </div>
            </div>
        </div>
    </div>
    <!--//header-->
    <!--headerNavigation-->
    <div class="headerNavi">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-12 NaviBtn">
                        HOME
                </div>
                <div class="col-sm-3 col-xs-12 NaviBtn">
                        記録する
                </div>
                <div class="col-sm-3 col-xs-12 NaviBtn">
                        検索する
                </div>
                <div class="col-sm-3 col-xs-12 NaviBtn">
                        履歴をみる
                </div>
            </div>
        </div>
    </div>
    <!--//headerNavigation-->
    <!--Section-->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 caption">
                    <h2>お店を記録する</h2>
                </div>
                <form method="POST" action="/add">
                    <div class="col-xs-12 add_form">
                        店名：<input type="text" name="name">
                    </div>
                    <div class="col-xs-12 add_form">
                        訪問日：<input type="date" name="date">
                    </div>
                    <div class="col-xs-12 add_form">
                        場所：<input type="text" name="locate">
                    </div>
                    <div class="col-xs-12 add_form">
                        予算：<input type="text" name="price">&nbsp;円
                    </div>
                    <div class="col-xs-12 add_form">
                        ジャンル： 
                    </div>
                    <div class="col-xs-6 col-sm-2 add_form">
                        <select name="genre">
                            <option value="meat">&nbsp;肉料理</option>
                            <option value="seafood">&nbsp;海鮮料理</option>
                            <option value="japanese">&nbsp;日本食</option>
                            <option value="chinese">&nbsp;中華料理</option>
                            <option value="bar">&nbsp;お酒メイン</option>
                            <option value="others">&nbsp;その他</option>
                        </select>
                    </div>
                    <div class="col-xs-12 add_form">
                        よかった点：<br>
                        <textarea name="good" id="" rows="1" tabindex=""></textarea>
                    </div>
                    <div class="col-xs-12 add_form">
                        イマイチだった点：<br>
                        <textarea name="bad" id="" rows="1" tabindex=""></textarea>
                    </div>
                    <div class="col-xs-12 add_form">
                        評価：<br>
                        <div class="fiveStar">
                            <input id="star1" type="radio" value="5" name="evaluate" $evaluate:5$>
                            <label for="star1" class="star"><span class="evaluation">&nbsp;</span>★</label>
                            <input id="star2" type="radio" value="4" name="evaluate" $evaluate:4$>
                            <label for="star2" class="star"><span class="evaluation">&nbsp;</span>★</label>
                            <input id="star3" type="radio" value="3" name="evaluate" $evaluate:3$>
                            <label for="star3" class="star"><span class="evaluation">&nbsp;</span>★</label>
                            <input id="star4" type="radio" value="2" name="evaluate" $evaluate:2$>
                            <label for="star4" class="star"><span class="evaluation">&nbsp;</span>★</label>
                            <input id="star5" type="radio" value="1" name="evaluate" $evaluate:1$>
                            <label for="star5" class="star"><span class="evaluation">&nbsp;</span>★</label>
                        </div>
                    </div>
                    <div class="col-xs-12 add_form">
                        <button type="submit" tabindex="">完了</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--//Section-->
</body>
</html>